.layout-container {
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
}

.headingLevel2.of-primary {
    position: relative;
    padding: 0 0 0 6px;
    border-left: solid 3px #e60012;
}

.utility-textAlign-right {
    text-align: right;
}

.utility-text-small {
    font-size: 1.4rem;
}

.form-necessaryText {
    margin: 0 0 8px;
    font-weight: bold;
    color: #f00;
}

.card {
   
    border: 5px outset red;
  background-color: lightblue;  
}

.card.of-body-narrow .card-body {
    max-width: 600px;
    margin: 0 auto;
}

.form-necessityIcon {
    color: red;
}
